---
http_interactions:
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/prequalification"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 61b43c3d3ec0da6e
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 625d9fdc0482fd38
      Ot-Tracer-Traceid:
      - 70edb07403066d5e
      X-Auth0-Requestid:
      - 48a985195b00b3397482
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1612272297'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik0wUXdOMEl5TnpRMVJrRXhNa1pGTlVWRU5UQTJ","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Tue, 02 Feb 2021 13:24:56 GMT
recorded_with: VCR 5.0.0
