---
http_interactions:
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"test","client_secret":null,"audience":"/prequalification"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 61b4447ece99da6a
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 7ca1b23302f70745
      Ot-Tracer-Traceid:
      - 4774272523010f8a
      X-Auth0-Requestid:
      - 9105d826c668167fdfd4
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1612272635'
    body:
      encoding: UTF-8
      string: '{"error":"access_denied","error_description":"Unauthorized"}'
  recorded_at: Tue, 02 Feb 2021 13:30:34 GMT
recorded_with: VCR 5.0.0
