---
http_interactions:
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/onboarding"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 61b43c400c3d5d43
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 1176407e7e758d00
      Ot-Tracer-Traceid:
      - 3f5af5df1055e780
      X-Auth0-Requestid:
      - 770c64fa80205df8e5b4
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1612272298'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cdI6IkcXVCIsImtpZCI6Ik0wUXdOMEl5TnpRMVJrRXhNa1pGTlVWRU5UQTJ","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Tue, 02 Feb 2021 13:24:57 GMT
recorded_with: VCR 5.0.0
