---
http_interactions:
- request:
    method: post
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/
    body:
      encoding: UTF-8
      string: '{"companyName":"HOKO LTD","companyType":"incorrect","monthsTrading":7,"countryISOCode":"GBR","country":"GBR","keyContactName":"Gregorio
        Trantow","thirdPartyLeadId":"eeb5cb10-9507-49f3-984c-abf9ee85ea8e","registeredAddress":{"line1":"59796
        Rolfson Mountains","line2":"Suite 443","city":"London","region":"London","areaCode":"AA45
        9ZT","country":"GBR"},"contactPhoneNumber":"056 9235 8251","contactEmailAddress":"rupert_bartoletti@wuckertwelch.com","loanCurrencyISOCode":"GBP","thirdPartyCustomerId":"05082156-3ae6-48b4-b33e-8dceb0ce0ba2","description":"desc","companyNumber":"09525857","notificationURL":"http://strosin.com/aleta","thirdPartyMerchantId":"226b5359-cb7b-4cc0-9d2c-e6553c014a55"}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$.companyType":["The JSON value could not be converted to YL.Web.Api.ThirdParty.Onboarding.Models.CompanyTypes.
        Path: $.companyType | LineNumber: 0 | BytePositionInLine: 51."]}'
  recorded_at: Fri, 19 May 2023 12:20:24 GMT
recorded_with: VCR 5.0.0
