---
http_interactions:
- request:
    method: get
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/fd984430-4042-4f32-afb2-35700d1564b2/details/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"leadSourceLendingPartnerId":"2487faad-24c3-40ed-8e63-f4551555116a","onboardingState":"stage1incomplete","onboardingStateReason":"","organisationDetailsStepComplete":true,"paymentDataStepComplete":false,"offerStepComplete":false,"kycDocumentsStepComplete":false,"companyName":"HOKO
        LTD","leadType":"Api","signingDetails":{"eligibleForInstantSigning":false,"instantSigningDetails":null}}'
  recorded_at: Fri, 19 May 2023 12:45:06 GMT
recorded_with: VCR 5.0.0
