---
http_interactions:
- request:
    method: put
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/fd984430-4042-4f32-afb2-35700d1564b2/organisationdetails/
    body:
      encoding: UTF-8
      string: '{"companyName":"HOKO LTD","companyType":"ltd","monthsTrading":9,"countryISOCode":"GBR","country":"GBR","keyContactName":"Mrs.
        Errol Hilpert","thirdPartyLeadId":"0b768d9b-1c3c-4cac-8b71-22088707a76b","registeredAddress":{"line1":"3566
        Orn Rapid","line2":"Apt. 435","city":"London","region":"London","areaCode":"Y5W
        9JL","country":"GBR"},"contactPhoneNumber":"055 7386 9337","contactEmailAddress":"rueben.monahan@hagenes.co","loanCurrencyISOCode":"GBP","thirdPartyCustomerId":"0304e8b3-4803-4740-9847-add4896773d6","description":"desc","companyNumber":"09525857","notificationURL":"http://millerohara.info/anjelica.rowe","thirdPartyMerchantId":"989fae99-38fd-402c-a6ac-459492eec617"}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer error="invalid_token"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 May 2023 12:20:24 GMT
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/onboarding"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 7c9c4b34bc941cba
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 1229792a43573e0e
      Ot-Tracer-Traceid:
      - 2f67a33757312b24
      X-Auth0-Requestid:
      - dce22720940c592766ad
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1684498825'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Fri, 19 May 2023 12:20:24 GMT
- request:
    method: put
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/fd984430-4042-4f32-afb2-35700d1564b2/organisationdetails/
    body:
      encoding: UTF-8
      string: '{"companyName":"HOKO LTD","companyType":"ltd","monthsTrading":9,"countryISOCode":"GBR","country":"GBR","keyContactName":"Mrs.
        Errol Hilpert","thirdPartyLeadId":"0b768d9b-1c3c-4cac-8b71-22088707a76b","registeredAddress":{"line1":"3566
        Orn Rapid","line2":"Apt. 435","city":"London","region":"London","areaCode":"Y5W
        9JL","country":"GBR"},"contactPhoneNumber":"055 7386 9337","contactEmailAddress":"rueben.monahan@hagenes.co","loanCurrencyISOCode":"GBP","thirdPartyCustomerId":"0304e8b3-4803-4740-9847-add4896773d6","description":"desc","companyNumber":"09525857","notificationURL":"http://millerohara.info/anjelica.rowe","thirdPartyMerchantId":"989fae99-38fd-402c-a6ac-459492eec617"}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 May 2023 12:20:24 GMT
recorded_with: VCR 5.0.0
