---
http_interactions:
- request:
    method: get
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/0f9b892f-3816-4afe-a582-1ce0ea708fdb/details/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 May 2023 12:45:05 GMT
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/onboarding"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 7c9c6f5f7ff60eb0
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 6805bed5350c59d4
      Ot-Tracer-Traceid:
      - 4bdc491648ce08d1
      X-Auth0-Requestid:
      - 19c7e34ca7a5ed0872d8
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1684500306'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Fri, 19 May 2023 12:45:06 GMT
- request:
    method: get
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/0f9b892f-3816-4afe-a582-1ce0ea708fdb/details/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"leadSourceLendingPartnerId":"2487faad-24c3-40ed-8e63-f4551555116a","onboardingState":"stage1submitted","onboardingStateReason":"","organisationDetailsStepComplete":false,"paymentDataStepComplete":true,"offerStepComplete":false,"kycDocumentsStepComplete":true,"companyName":"HOKO
        LTD","leadType":"Api","signingDetails":{"eligibleForInstantSigning":false,"instantSigningDetails":null}}'
  recorded_at: Fri, 19 May 2023 12:45:06 GMT
recorded_with: VCR 5.0.0
