---
http_interactions:
- request:
    method: post
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/
    body:
      encoding: UTF-8
      string: '{"companyName":"HOKO LTD","companyType":"ltd","monthsTrading":6,"countryISOCode":"GBR","country":"GBR","keyContactName":"Katharine
        Cassin","thirdPartyLeadId":"f4a58f1c-bdf6-4a79-adb8-87503e8806de","registeredAddress":{"line1":"340
        Weissnat Via","line2":"Suite 503","city":"London","region":"London","areaCode":"Y1
        3UG","country":"GBR"},"contactPhoneNumber":"016977 3530","contactEmailAddress":"michaela_lowe@reilly.org","loanCurrencyISOCode":"GBP","thirdPartyCustomerId":"5454e112-e193-4d37-9b75-37a84f6ff840","description":"desc","companyNumber":"09525857","notificationURL":"http://bogisichhilll.co/ariel","thirdPartyMerchantId":"fff103ea-ee41-4e7b-ba4b-c40c59152187"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 May 2023 12:20:23 GMT
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/onboarding"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 7c9c4b2d4e34b7ef
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 318b83d557fa7f25
      Ot-Tracer-Traceid:
      - 2b3bff9f0a95f57f
      X-Auth0-Requestid:
      - ae1c9007d2978572e16b
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1684498824'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Fri, 19 May 2023 12:20:23 GMT
- request:
    method: post
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/
    body:
      encoding: UTF-8
      string: '{"companyName":"HOKO LTD","companyType":"ltd","monthsTrading":6,"countryISOCode":"GBR","country":"GBR","keyContactName":"Katharine
        Cassin","thirdPartyLeadId":"f4a58f1c-bdf6-4a79-adb8-87503e8806de","registeredAddress":{"line1":"340
        Weissnat Via","line2":"Suite 503","city":"London","region":"London","areaCode":"Y1
        3UG","country":"GBR"},"contactPhoneNumber":"016977 3530","contactEmailAddress":"michaela_lowe@reilly.org","loanCurrencyISOCode":"GBP","thirdPartyCustomerId":"5454e112-e193-4d37-9b75-37a84f6ff840","description":"desc","companyNumber":"09525857","notificationURL":"http://bogisichhilll.co/ariel","thirdPartyMerchantId":"fff103ea-ee41-4e7b-ba4b-c40c59152187"}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"leadId":"fd984430-4042-4f32-afb2-35700d1564b2","leadURL":"https://partners.staging-youlend.com/dashboard/youraccount/fd984430-4042-4f32-afb2-35700d1564b2/companydetails","signUpURL":"https://partners.staging-youlend.com/dashboard/youlendapisignup?emailAddress=michaela_lowe%40reilly.org&leadId=fd984430-4042-4f32-afb2-35700d1564b2"}'
  recorded_at: Fri, 19 May 2023 12:20:23 GMT
recorded_with: VCR 5.0.0
