---
http_interactions:
- request:
    method: post
    uri: https://partners.staging-youlendapi.com/prequalification/Requests/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Feb 2021 13:42:59 GMT
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"NOT VALID","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/prequalification"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 61b456abbbb65d33
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 3d8bd36c0ffb7723
      Ot-Tracer-Traceid:
      - 29a5a41a5d581deb
      X-Auth0-Requestid:
      - 2588bde4228a33b45e6c
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1612273380'
    body:
      encoding: UTF-8
      string: '{"error":"access_denied","error_description":"Unauthorized"}'
  recorded_at: Tue, 02 Feb 2021 13:42:59 GMT
recorded_with: VCR 5.0.0
