---
http_interactions:
- request:
    method: put
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/620fb657-cff2-4e21-98d8-457b7c17b9bc/significantpersons/
    body:
      encoding: UTF-8
      string: '{"significantPersons":[{"typeOfPerson":"Director","address":{"line1":"9381
        Dietrich Avenue","line2":"Suite 306","city":"London","region":"London","areaCode":"89863","country":"GBR"},"dateOfBirth":{"year":2000,"month":1,"day":1},"firstName":"Rey","surname":"Weimann","emailAddress":"clarence@weinatrobel.io","mobilePhoneNumber":"656-096-3334
        x6280","percentageOwned":45,"nationality":"Russians"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 May 2023 10:33:16 GMT
- request:
    method: post
    uri: https://youlend-stag.eu.auth0.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","audience":"https://staging.youlendapi.com/onboarding"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ot-Baggage-Auth0-Request-Id:
      - 7c9bae44ace506dc
      Ot-Tracer-Sampled:
      - 'true'
      Ot-Tracer-Spanid:
      - 29fa8cf73ddf0950
      Ot-Tracer-Traceid:
      - 11a9eabb43f0064e
      X-Auth0-Requestid:
      - 3a59e68b28de7c373462
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1684492397'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<TOKEN>","expires_in":86400,"token_type":"Bearer"}'
  recorded_at: Fri, 19 May 2023 10:33:16 GMT
- request:
    method: put
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/620fb657-cff2-4e21-98d8-457b7c17b9bc/significantpersons/
    body:
      encoding: UTF-8
      string: '{"significantPersons":[{"typeOfPerson":"Director","address":{"line1":"9381
        Dietrich Avenue","line2":"Suite 306","city":"London","region":"London","areaCode":"89863","country":"GBR"},"dateOfBirth":{"year":2000,"month":1,"day":1},"firstName":"Rey","surname":"Weimann","emailAddress":"clarence@weinatrobel.io","mobilePhoneNumber":"656-096-3334
        x6280","percentageOwned":45,"nationality":"Russians"}]}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"leadId":"620fb657-cff2-4e21-98d8-457b7c17b9bc","significantPersonIds":["5142a132-2aaf-4789-8e40-7e8597ff625a"]}'
  recorded_at: Fri, 19 May 2023 10:33:16 GMT
recorded_with: VCR 5.0.0
