---
http_interactions:
- request:
    method: put
    uri: https://partners.staging-youlendapi.com/onboarding/Leads/620fb657-cff2-4e21-98d8-457b7c17b9bc/significantpersons/
    body:
      encoding: UTF-8
      string: '{"significantPersons":[{"typeOfPerson":"Director","address":{"line1":"6210
        Johnston Roads","line2":"Apt. 329","city":"London","region":"London","areaCode":"88478","country":"GBR"},"dateOfBirth":{"year":2000,"month":1,"day":1},"firstName":"","surname":"Klocko","emailAddress":"gerry@heathcotegleason.biz","mobilePhoneNumber":"185-714-9786
        x35247","percentageOwned":52,"nationality":"Barbadians"}]}'
    headers:
      Authorization:
      - "<Bearer>"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SignificantPersons[0].FirstName":["''First Name'' must not be empty.","The
        specified condition was not met for ''First Name''."]}'
  recorded_at: Fri, 19 May 2023 10:33:17 GMT
recorded_with: VCR 5.0.0
